<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context="http://www.springframework.org/schema/context"
           xmlns:aop="http://www.springframework.org/schema/aop"
           xmlns:mvc="http://www.springframework.org/schema/mvc"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd ">

    <!-- aop 放在 子容器中可以让切面在controller 层之前生效-->
    <aop:config />
    <aop:aspectj-autoproxy />

    <!-- 扫描包 ,包名一定要写全 只扫描Controller的包-->
    <context:component-scan base-package="com.weixin.yaavi.api" />

    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射 -->
    <!--使用fastJson返回json格式数据-->
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg name="defaultCharset" value="UTF-8" />
            </bean>
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <!-- 定义一个时间属性 WriteDateUseDateFormat是FastJsonHttpMessageConverter
                类自带的属性features中的枚举值 -->
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>QuoteFieldNames</value>
                        <value>WriteDateUseDateFormat</value>
                        <value>PrettyFormat</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

        <!--异步支持-->
        <mvc:async-support default-timeout="10" task-executor="asyncTaskExecutor">
            <mvc:callable-interceptors>
                <bean class="org.framework.basic.server.servlet.async.AsyncInterceptor"/>
            </mvc:callable-interceptors>
        </mvc:async-support>
    </mvc:annotation-driven>

    <!--异步executor-->
    <bean id="asyncTaskExecutor" class="org.framework.basic.server.servlet.async.ThreadLocalAsyncExecutor"/>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.framework.basic.convert.String2DateConverter" />
                <bean class="org.framework.basic.convert.Date2StringConverter" />
            </set>
        </property>
    </bean>

    <!-- 设置字符编码 -->
    <bean id="stringConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 设置上传文件大小 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
        <property name="maxUploadSize">
            <value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>
</beans>
